<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset=utf-8">
        <title>Log In</title>
</head>
    <style>
    body{display: flex;justify-content: center; background-color: #f7f7f7}
    div{border-radius: 50px;margin: 50px; padding: 50px; background-color: ghostwhite;
        border: 2px solid silver; height: 150px}
    input, textarea, select{border-radius: 5px; border: 2px solid silver}
    input[type=submit]{float: right; padding: 4px; background-color: white}
    input[type=submit]:hover{border: 2px solid black}
    h2{margin-top: -3px}
</style>
<body>
<div>
    <h2>Bxoд</h2>
        {% if user.is_authenticated %}
            <span>Вы уже выполнили вход.</span>
        {% else %}
            <form method="post">
            {% csrf_token %}
                {{ form.as_p }}
                <input type="hidden" name="next" value="{{ next }}">
                <input type="submit" vаluе="Войти">
            </form>
        {% endif %}
</div>
</body>
</html>