<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    body{display: flex;justify-content: center; background-color: #f7f7f7}
    div{border-radius: 50px;margin: 50px; padding: 50px; background-color: ghostwhite; border: 2px solid silver}
</style>
<body>?
<div>
    <h2>Отзывы о товаре  "{{ products }}"</h2>
    {% for fb in feedbacks %}
        <hr>
        <h4>Имя: {{ fb.name }} </h4>
        <p>Email: {{ fb.email }}</p>
        <p>Сообщение: {{ fb.message }}</p>
    {% endfor %}
</div>
</body>
</html>