{% extends 'main/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Доставка и оплата - магазин "TechShop"{% endblock %}</title>
</head>
<body>
{% block main %}

<br>
<div id="del">
<h2>Как забрать товар в магазине?</h2>
<p>Мы предлагаем Вам все преимущества покупок в онлайне с дополнительным бесплатным сервисом - получением товара в удобное для Вас время и в удобном месте. Вы можете забрать свой заказ в магазинах TechShop. Найти ближайший магазин.
</p>
<h3>Почему выгодно и удобно пользоваться сервисом?</h3>
<ul>
    <li>Мы бесплатно доставим Ваш заказ в ближайший к Вам магазин TechShop</li>
    <li>Вы можете забрать Ваш заказ в любое удобное для Вас время, как вариант, посетив наш магазин по дороге с работы или после того,
    как заберете своего ребенка из школы</li>
    <li>Вы получите профессиональные консультации и обслуживание</li>
    <li>Оплата заказа при получении в магазине согласно цене сайта</li>
</ul>
<h3>Как воспользоваться сервисом?</h3>
<p>
1. Заказать товар на сайте; <br>
2. Выбрать ближайший к Вам магазин, в который необходимо доставить заказ;<br>
3. Забрать товар из магазина.
</p>
<h4>Что нужно иметь при себе для того, чтобы забрать свой заказ?</h4>
<p>После оформления заказа на нашем сайте, мы сообщим Вам номер заказа, который необходимо будет предъявить при получении товара в магазине TechShop. Как только Ваш заказ будет доставлен в указанный Вами розничный магазин, мы уведомим Вас по телефону.
</p>
<h4>Кто-то еще может получить мой заказ вместо меня?</h4>
<p>Ваш заказ может забрать любой человек. Достаточно сообщить номер заказа на получение продавцу магазина TechShop и оплатить покупку.
</p>
<h4>Когда я могу забрать свой заказ из розничного магазина?</h4>
<p>Наши магазины работают 7 дней в неделю. Время работы указанного Вами магазина Вы можете посмотреть на странице «Сеть магазинов TechShop».
</p>
<h4>Что произойдет, если я не смогу забрать свой заказ в оговоренное время?</h4>
<p>Ваши покупки будут ждать Вас в указанной Вами торговой точке в течение трех суток.</p>

<h4>Могу ли я отменить заказ, оформленный на сайте TechShop.ua?</h4>
<p>Вы можете отменить Ваш заказ, позвонив к нам по телефону горячей линии (0-800) 300-100. Для отмены заказа назовите менеджеру номер заказа и ваши ФИО, под которыми Вы зарегистрированы на сайте.
</p>

<h2>Как оформить заказ?</h2>
    <p>Оформить заказ на сайте <strong>TechShop.ua</strong> Вы можете круглосуточно.<br>
При оформлении покупки укажите предпочтительный способ доставки товара: курьер "TechShop EXPRESS", службой доставки «Новая Почта», «Meest», «Укрпошта», курьером или самовывоз, а также удобную для Вас форму оплаты.
<br>Если Вы оформили заказ с 9:00, мы свяжемся с Вами в течение дня. Если Вы оформили заказ после 20:00, мы свяжемся с Вами на следующий день до 12:00.
    </p>
    <h2>Как получить товар?</h2>
    <div class="deliver">
    <div id="box1">
    <h3>Самовывоз из магазинов "TechShop"</h3>
    <ol>
        <li>Сделайте заказ на сайте либо по телефону 0-800-300-100.</li>
        <li>При оформлении заказа укажите метод доставки – <strong>"Самовывоз в TechShop"</strong>.</li>
        <li>Выберите ближайший к Вам магазин TechShop, в который необходимо доставить заказ.</li>
        <li>Оператор контакт-центра сообщит вам номер заказа, дату и время когда можно получить заказ.</li>
        <li>Заберите заказ в магазине.</li>
    </ol>
    </div>
    <div id="box2">
    <h3>Доставка по Украине компанией "Нова пошта", "Meest", "Укрпошта" с оплатой наличными при получении заказа</h3>
    <ol><li>Сделайте заказ на сайте либо по телефону 0-800-300-100.</li>
        <li>При оформлении заказа на сайте укажите способ доставки "Нова пошта", "Meest", "Укрпошта"</li>
        <li>Получите номер SMS с номером экспресс-накладной.</li>
        <li>Отслеживайте статус посылки на сайте компании "Нова пошта", "Meest", "Укрпошта".</li>
        <li>По приходу посылки вы получите SMS от компании "Нова пошта", "Meest", "Укрпошта".</li>
        <li>Посетите пункт выдачи и получите посылку (наличие паспорт или удостоверения личности обязательно).</li>
        <li>Проверьте работоспособность товара на месте.</li>
        <li>Оплатите стоимость заказа оператору или курьеру.</li>
    </ol>
    </div>
    </div>
    <p>С графиком работы розничных магазинов TechShop, в которые осуществляется доставка товара, заказанного на сайте TechShop.ua, вы можете ознакомиться на странице "Сеть магазинов TechShop". По всем вопросам, связанным с заказами, оформленными через сайт, обращайтесь по телефону (0-800) 300-100.
    </p>
</div>
{% endblock %}
</body>
</html>