{% extends 'main/base.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="keywords" content="интернет магазин, техника"/>
    <meta name="description" content="Сайт магазина электроники"/>
    <title>
        {% block title %}
        Интернет-магазин TechShop
        {% endblock %}
    </title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-QM0NJ7G4CC"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'G-QM0NJ7G4CC');
    </script>
</head>
{% block backcolour %} {{colour}} {% endblock %}

<body>
{% block main %}

<dialog id="cartWindow">
    <p id="cart_title">Ваши товары</p>
    <div id="cart_content"></div>
    <a href="#" id="clear_cart">Оформить заказ</a>
    <a href="#" id="go_on">Продолжить покупки</a>
</dialog>

<div class="clear"><br/></div>

<center>
    <div id="menu">Каталог товаров
        <hr/>
    </div>
    <ul class="topMenu">
        <li><a href="">Смартфоны</a>
        </li>
        <li><a href="">Ноутбуки</a>
        </li>
        <li><a href="">Телевизоры</a>
        </li>
        <li><a href="">Переферия</a>
        </li>
    </ul>
</center>

<div class="products">
    {% for product in product %}
    <div class="item_box">
        <div class="product-item">
            <img src="{{ product.image }}" alt="{{ product.title }} image">
            <a href="" class="add_item" data-id="{{ product.slug }}">В корзину</a>
            <h3 class="item_title">{{ product.title }}</h3>

            <p>Цена: <span class="item_price">{{ product.price }}</span><span class="item_price"> грн</span></p>
        </div>
    </div>
    {% endfor %}

</div>
<script src="../../static/cart2.js"></script>
{% endblock %}
</body>

</html>